<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Banker App</title>
</head>

<body ng-app="banker">

    <div class="container" ng-controller="BankController">
        <div class="row">
            City dropdown and search bar
        </div>


        <div class="row">
            list of branches
        </div>

    </div>
</body>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/bootstrap-min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/bankcontroller.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>

</html>